<div class="parallax-container">
  <div class="row container">
    <br /><br />
    <h1 class="header center blue-grey-text text-lighten-4">Day 2 Day</h1>

    <div class="row center">
      <h5 class="header col s12 light blue-grey-text text-lighten-5">A better
        way to course your daily task and stay on track</h5>
    </div>

    <div class="row center">
      <a href="/login" id="download-button" class="btn-large waves-effect waves-light teal accent-4" >Get Started</a>
    </div>
    <br /><br />

  </div>

  <div class="parallax"><img src="/images/background3.jpg" alt="background img" style="transform: translate3d(-50%, 312.875px, 0px); opacity: 1;" /></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="fa-solid fa-note-sticky"></i></h2>
          <h5 class="center">Revolved Around Note Taking</h5>

          <p class="light">Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Sed omnis laborum itaque necessitatibus doloribus quos? Eum
            consectetur neque, quas, quisquam deleniti omnis in quis beatae,
            veniam vero rem repellat itaque!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="fa-regular fa-calendar"></i></h2>
          <h5 class="center">Keep Track of Every Deadline</h5>

          <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Natus, explicabo earum! Numquam quae cupiditate repellendus
            eos ab eaque consequatur voluptatem necessitatibus, suscipit non
            voluptatibus laborum id consectetur iure at. Illo?</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="fa-solid fa-hourglass-half"></i></h2>
          <h5 class="center">Stay Focused</h5>

          <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Excepturi reprehenderit earum harum, facere consequuntur
            perferendis commodi. Cumque ipsam vel corporis blanditiis ratione
            hic nulla eaque. Perferendis, libero maxime. Assumenda, laudantium?</p>
        </div>
      </div>
    </div>

  </div>
</div>