<h3><i class="fas fa-book-reader"></i> Day2Day</h3>
<div class="section">
    <p class="lead">Stay organized while you study</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> Login In With Google</a>
</div>